<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="/img/7741.jpg"
        alt="rijeng"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">BTR Ryzen</h1>
      <p class="lead">Gamer | Conten Creator</p>
    </div>
  </div>
</div>
